body{
    margin: 0;
    padding: 0;
}

/* aside */
#aside-section{
    position: relative;
    top: 57px;
    width: 25%;
    height: 100%;
}
.aside-main {
    font-family: Arial, sans-serif;
    width: 200px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    /* border-radius: 5px; */
}

.aside-main h3 {
    margin-bottom: 2rem;
    font-size: 1.9rem;
    color: #333;
}

.aside-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-li {
    margin-bottom: 10px;
}

.brand-ckbx {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: #007bff;
}

.aside-li label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.aside-li:hover label {
    color: #007bff;
}

.aside-li:hover .brand-ckbx {
    accent-color: #0056b3;
}

/* iphones */

#iPhones-section{
    width: 75%;
    position: relative;
    left: 15%;
    top: -580px;
}
@media (max-width: 600px) {
    #aside-section{
        display: none;
    }
    #iPhones-section{
        width: 100%;
        top: 50px;
        left: 0;
        position: relative;
    }
}